---
const { title, desc, id } = Astro.props;
---

<card
  class="border-gray-600 border rounded-md p-5 flex flex-col flex-wrap w-fit shiny after:bg-light-shiny after:dark:bg-dark-shiny relative overflow-hidden h-fit"
>
  <input
    aria-hidden="true"
    class="pointer-events-none absolute left-0 top-0 z-10 h-full w-full cursor-default rounded-[0.310rem] border transition-opacity duration-500 placeholder:select-none
dark:border-white/50 border-black/50 opacity-1 sm:opacity-0"
    style="
mask-image: radial-gradient(30% 50px at 16px 19px, black 45%, transparent);
background-color: transparent;
"
  />
  <div
    aria-hidden="true"
    class="pointer-events-none absolute -inset-px rounded-md opacity-0 transition duration-300"
    style="
background: radial-gradient(600px circle at 24px 103px, rgba(97, 97, 97, 0.1), transparent 60%);
"
  >
  </div>
  <h3 class="cursor-pointer" onclick={`openModal('${id}')`}>{title}</h3>
</card>
<div
  id={id}
  class="modal fixed inset-0 hidden bg-neutral-700/30 dark:bg-neutral-500/30 bg-opacity-50 flex items-center justify-center z-50"
>
  <div
    class="modal-content bg-light-miniCard dark:bg-dark-miniCard p-6 rounded-lg shadow-lg relative w-1/2"
  >
    <span
      class="close absolute top-2 right-2 text-gray-500 dark:text-gray-300 text-2xl cursor-pointer"
      onclick={`closeModal('${id}')`}>&times;</span
    >
    <h3 class="text-xl font-bold mb-4">{title}</h3>
    <p>{desc}</p>
  </div>
</div>

<style>
  strong {
    text-decoration-line: underline;
  }
  h3 {
    font-weight: bold;
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }
  h4 {
    font-style: italic;
  }
</style>
<script client:load>
   function openModal(modalId) {
      document?.getElementById(modalId)?.classList.remove('hidden');
    }
  
    function closeModal(modalId) {
      document?.getElementById(modalId)?.classList.add('hidden');
    }
  
    window.onclick = function(event) {
      const modals = document.querySelectorAll('.modal');
      modals.forEach(modal => {
        if (event.target == modal) {
          modal?.classList.add('hidden');
        }
      });
    }
  </script>
