---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";
import Experience from "./Experience.astro";
import Education from "./Education.astro";
import Skills from "./Skills.astro";
import Footer from "./Footer.astro";
import Cert from "./Cert.astro";
import certs from "../content/certs.json";

const projects = await getCollection("projects");
const experience = await getCollection("experience");
const education = await getCollection("education");

type SkillArea = {
  [key: string]: string;
};

type SkillsType = {
  frontend: SkillArea;
  backend: SkillArea;
  mobile: SkillArea;
  cloud: SkillArea;
};

const skills: SkillsType = {
  frontend: {
    HTML5: "html5",
    CSS3: "css",
    JavaScript: "javascript",
    Astro: "astro",
    React: "react",
  },
  backend: {
    NodeJS: "nodejs",
    Python: "python",
    Csharp: "csharp",
    MySql: "mysql",
    Postgresql: "postgresql",
    OracleSQL: "oracle",
  },
  mobile: {
    Kotlin: "kotlin",
  },
  cloud: {
    AWS: "aws",
  },
};
---

<main class="px-10 max-w-4xl flex flex-col items-center gap-5 h-max p-3">
  <nav
    class="w-full rounded-md bg-light-background/90 dark:bg-dark-background/90 flex justify-between sticky top-0 backdrop-blur-md z-50 my-5 p-3"
  >
    <p class="cursor-pointer font-title"><strong>sicora-dev</strong></p>

    <div class="flex justify-center items-center">
      <a
        href="https://www.linkedin.com/in/siro-cornejo-raez/"
        target="_blank"
        class="text-light-text dark:text-dark-text rounded-md hover:bg-light-text/10 hover:dark:bg-dark-text/10 p-2"
      >
        <svg
          width="20"
          height="20"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid"
          viewBox="0 0 256 256"
          ><path
            d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
            fill="currentColor"></path></svg
        >
      </a>

      <a
        href="https://github.com/sicora-dev" target="_blank"
        class="text-light-text dark:text-dark-text rounded-md hover:bg-light-text/10 hover:dark:bg-dark-text/10 p-2"
      >
        <svg
          viewBox="0 0 256 250"
          width="20"
          height="20"
          fill="#fff"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid"
        >
          <path
            d="M128.001 0C57.317 0 0 57.307 0 128.001c0 56.554 36.676 104.535 87.535 121.46 6.397 1.185 8.746-2.777 8.746-6.158 0-3.052-.12-13.135-.174-23.83-35.61 7.742-43.124-15.103-43.124-15.103-5.823-14.795-14.213-18.73-14.213-18.73-11.613-7.944.876-7.78.876-7.78 12.853.902 19.621 13.19 19.621 13.19 11.417 19.568 29.945 13.911 37.249 10.64 1.149-8.272 4.466-13.92 8.127-17.116-28.431-3.236-58.318-14.212-58.318-63.258 0-13.975 5-25.394 13.188-34.358-1.329-3.224-5.71-16.242 1.24-33.874 0 0 10.749-3.44 35.21 13.121 10.21-2.836 21.16-4.258 32.038-4.307 10.878.049 21.837 1.47 32.066 4.307 24.431-16.56 35.165-13.12 35.165-13.12 6.967 17.63 2.584 30.65 1.255 33.873 8.207 8.964 13.173 20.383 13.173 34.358 0 49.163-29.944 59.988-58.447 63.157 4.591 3.972 8.682 11.762 8.682 23.704 0 17.126-.148 30.91-.148 35.126 0 3.407 2.304 7.398 8.792 6.14C219.37 232.5 256 184.537 256 128.002 256 57.307 198.691 0 128.001 0Zm-80.06 182.34c-.282.636-1.283.827-2.194.39-.929-.417-1.45-1.284-1.15-1.922.276-.655 1.279-.838 2.205-.399.93.418 1.46 1.293 1.139 1.931Zm6.296 5.618c-.61.566-1.804.303-2.614-.591-.837-.892-.994-2.086-.375-2.66.63-.566 1.787-.301 2.626.591.838.903 1 2.088.363 2.66Zm4.32 7.188c-.785.545-2.067.034-2.86-1.104-.784-1.138-.784-2.503.017-3.05.795-.547 2.058-.055 2.861 1.075.782 1.157.782 2.522-.019 3.08Zm7.304 8.325c-.701.774-2.196.566-3.29-.49-1.119-1.032-1.43-2.496-.726-3.27.71-.776 2.213-.558 3.315.49 1.11 1.03 1.45 2.505.701 3.27Zm9.442 2.81c-.31 1.003-1.75 1.459-3.199 1.033-1.448-.439-2.395-1.613-2.103-2.626.301-1.01 1.747-1.484 3.207-1.028 1.446.436 2.396 1.602 2.095 2.622Zm10.744 1.193c.036 1.055-1.193 1.93-2.715 1.95-1.53.034-2.769-.82-2.786-1.86 0-1.065 1.202-1.932 2.733-1.958 1.522-.03 2.768.818 2.768 1.868Zm10.555-.405c.182 1.03-.875 2.088-2.387 2.37-1.485.271-2.861-.365-3.05-1.386-.184-1.056.893-2.114 2.376-2.387 1.514-.263 2.868.356 3.061 1.403Z"
            fill="currentColor"></path>
        </svg>
      </a>

      <button
        id="darkModeSwitch"
        class="rounded-md hover:bg-light-text/10 hover:dark:bg-dark-text/10 px-2 py-1 w-[36px] h-[36px] flex items-center"
      >
        <svg
          class="hidden dark:inline rotate-12 hover:rotate-0 transition-all ease-in-out duration-300 hover:scale-105"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.32031 11.6835C3.32031 16.6541 7.34975 20.6835 12.3203 20.6835C16.1075 20.6835 19.3483 18.3443 20.6768 15.032C19.6402 15.4486 18.5059 15.6834 17.3203 15.6834C12.3497 15.6834 8.32031 11.654 8.32031 6.68342C8.32031 5.50338 8.55165 4.36259 8.96453 3.32996C5.65605 4.66028 3.32031 7.89912 3.32031 11.6835Z"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <svg
          class="dark:hidden inline rotate-12 hover:rotate-0 transition-all ease-in-out duration-300 hover:scale-105"
          width="23"
          height="23"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 3V4M12 20V21M4 12H3M6.31412 6.31412L5.5 5.5M17.6859 6.31412L18.5 5.5M6.31412 17.69L5.5 18.5001M17.6859 17.69L18.5 18.5001M21 12H20M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
  </nav>

  <section
    class="w-full flex sm:flex-row flex-col items-start gap-10 py-5 text-light-mainText dark:text-dark-mainText p-3"
  >
    <p>
      👋 ¡Hola! Soy Siro y desde siempre <strong
        >la informática ha sido mi pasión</strong
      >. Me encanta resolver problemas, aprender constantemente y explorar
      tecnologías <strong>frontend y backend</strong>. Siempre estoy buscando
      nuevos retos que me hagan crecer como desarrollador.
    </p>

    <ul class="min-w-fit">
      <li class="flex gap-3 items-center">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <path
              d="M18 12H15M21 8H3M18 16H15M13 19C12.6218 17.2883 10.9747 16 9 16C7.03262 16 5.39034 17.2788 5.00424 18.9811M9 12H9.01M5.00424 18.9811C5.31776 19 5.70396 19 6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V8.2C21 7.0799 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.33038 18.9035 4.60979 18.9572 5.00424 18.9811ZM10 12C10 12.5523 9.55228 13 9 13C8.44772 13 8 12.5523 8 12C8 11.4477 8.44772 11 9 11C9.55228 11 10 11.4477 10 12Z"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g></svg
        >Siro Cornejo Raez
      </li>
      <li class="flex gap-3 items-center">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="currentColor"
          width="20"
          height="20"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <path
              d="M10 18H14M7.20003 3H16.8C17.9201 3 18.4802 3 18.908 3.21799C19.2843 3.40973 19.5903 3.71569 19.782 4.09202C20 4.51984 20 5.0799 20 6.2V11.8C20 12.9201 20 13.4802 19.782 13.908C19.5903 14.2843 19.2843 14.5903 18.908 14.782C18.4802 15 17.9201 15 16.8 15H7.20003C6.07992 15 5.51987 15 5.09205 14.782C4.71572 14.5903 4.40976 14.2843 4.21801 13.908C4.00003 13.4802 4.00003 12.9201 4.00003 11.8V6.2C4.00003 5.0799 4.00003 4.51984 4.21801 4.09202C4.40976 3.71569 4.71572 3.40973 5.09205 3.21799C5.51987 3 6.07992 3 7.20003 3ZM4.58888 21H19.4112C20.2684 21 20.697 21 20.9551 20.8195C21.1805 20.6618 21.3311 20.4183 21.3713 20.1462C21.4173 19.8345 21.2256 19.4512 20.8423 18.6845L20.3267 17.6534C19.8451 16.6902 19.6043 16.2086 19.2451 15.8567C18.9274 15.5456 18.5445 15.309 18.1241 15.164C17.6488 15 17.1103 15 16.0335 15H7.96659C6.88972 15 6.35128 15 5.87592 15.164C5.45554 15.309 5.07266 15.5456 4.75497 15.8567C4.39573 16.2086 4.15493 16.6902 3.67334 17.6534L3.1578 18.6845C2.77444 19.4512 2.58276 19.8345 2.6288 20.1462C2.669 20.4183 2.81952 20.6618 3.04492 20.8195C3.30306 21 3.73166 21 4.58888 21Z"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g></svg
        >Junior Developer
      </li>
      <li class="flex gap-3 items-center">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <path
              d="M14 21.0001V15.0001H10V21.0001M19 9.77818V16.2001C19 17.8802 19 18.7203 18.673 19.362C18.3854 19.9265 17.9265 20.3855 17.362 20.6731C16.7202 21.0001 15.8802 21.0001 14.2 21.0001H9.8C8.11984 21.0001 7.27976 21.0001 6.63803 20.6731C6.07354 20.3855 5.6146 19.9265 5.32698 19.362C5 18.7203 5 17.8802 5 16.2001V9.77753M21 12.0001L15.5668 5.96405C14.3311 4.59129 13.7133 3.9049 12.9856 3.65151C12.3466 3.42894 11.651 3.42899 11.0119 3.65165C10.2843 3.90516 9.66661 4.59163 8.43114 5.96458L3 12.0001"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g></svg
        >Madrid, España
      </li>
      <li class="flex gap-3 items-center">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <path
              d="M3 8L8.44992 11.6333C9.73295 12.4886 10.3745 12.9163 11.0678 13.0825C11.6806 13.2293 12.3194 13.2293 12.9322 13.0825C13.6255 12.9163 14.2671 12.4886 15.5501 11.6333L21 8M6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V8.2C21 7.0799 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19Z"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g></svg
        >
        devsicora@gmail.com
      </li>
    </ul>
  </section>

  <section class="w-full flex flex-col gap-2 p-3">
    <h2 class="text-xl font-bold">Proyectos mas relevantes</h2>
    {
      projects
        .sort((a, b) => b.data.id - a.data.id)
        .map((project) => (
          <ProjectCard
            id={project.data.id}
            title={project.data.title}
            desc={project.data.desc}
            url={project.data.url}
            icon={project.data.icon}
            repo={project.data.repo}
            stack={project.data.stack}
          />
        ))
    }
  </section>

  <section class="w-full flex justify-center items-center py-5 p-3">
    <div class="flex flex-col">
      <div></div>
      <div class="relative w-1 h-full bg-gradient-to-b bg-lime-200">
        <div class="absolute top-0"></div>
      </div>
    </div>

    <section class="flex flex-col gap-10 items-start justify-center">
      <Experience experience={experience} />
      <Education />
    </section>
  </section>

  <section class="w-full flex flex-col md:flex-row p-3 md:gap-2">
    <div class="flex flex-col min-w-[50%]">
      <h2 class="text-xl font-bold">Skills</h2>

      <div class="md:flex flex-col md:gap-2 h-fit hidden">
        {
          Object.keys(skills).map((area) => (
            <card class="border-gray-600 md:border rounded-md md:p-5 p-1 flex flex-col w-full shiny md:after:bg-light-shiny md:after:dark:bg-dark-shiny relative overflow-hidden h-fit">
              <input
                aria-hidden="true"
                class="invisible md:visible pointer-events-none absolute left-0 top-0 z-10 h-full w-full cursor-default rounded-[0.310rem] border transition-opacity duration-500 placeholder:select-none
      dark:border-white/50 border-black/50 opacity-1 sm:opacity-0"
                style="
        mask-image: radial-gradient(30% 50px at 16px 19px, black 45%, transparent);
        background-color: transparent;
      "
              />
              <div
                aria-hidden="true"
                class="pointer-events-none absolute -inset-px rounded-md opacity-0 transition duration-300"
                style="
        background: radial-gradient(600px circle at 24px 103px, rgba(97, 97, 97, 0.1), transparent 60%);
      "
              />
              <h3 class="hidden md:inline">
                {area[0].toUpperCase() + area.substring(1)}
              </h3>
              <Skills skills={skills[area as keyof SkillsType]} />
            </card>
          ))
        }
      </div>

      <div class="md:hidden flex flex-wrap overflow-hidden">
        {
          Object.entries(skills).map(([area, techs]) =>
            Object.entries(techs).map(([tech, icon]) => (
              <img
                src={`/skills/${icon}.svg`}
                class="w-8 h-8 m-2"
                alt={`logo de ${tech}`}
                title={tech}
              />
            ))
          )
        }
      </div>
    </div>
    <div class="flex flex-col flex-wrap gap-2">
      <h2 class="text-xl font-bold">Certificados</h2>
      <div class="flex flex-wrap gap-2">
        {
          certs.map((cert, index) => (
            <Cert title={cert.title} desc={cert.description} id={`modal-${index}`} />
          ))
        }
      </div>
    </div>
  </section>
  <footer
    class="w-full rounded-md bg-light-background/90 dark:bg-dark-background/90 flex justify-center my-5 p-3"
  >
    <Footer />
  </footer>
</main>

<style>
  strong {
    text-decoration-line: underline;
  }
  h3 {
    font-weight: bold;
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }
  h4 {
    font-style: italic;
  }
</style>
<script>
  const darkModeSwitch = document.getElementById("darkModeSwitch");
  darkModeSwitch?.addEventListener("click", () => {
    document.documentElement.classList.toggle("dark");
    if (!localStorage.getItem("theme")) {
      const htmlClaslist = document.documentElement.classList;
      if (htmlClaslist.contains("dark")) {
        localStorage.setItem("theme", "dark");
      } else {
        localStorage.setItem("theme", "light");
      }
    } else if (localStorage.getItem("theme") === "dark") {
      localStorage.setItem("theme", "light");
    } else {
      localStorage.setItem("theme", "dark");
    }
  });
</script>
<script type="module">
  const buttons = document.querySelectorAll(".shiny");

  const mediaQuery = window.matchMedia("(min-width: 640px)");

  function handleMouseEvents(button) {
    button.addEventListener("mousemove", (e) => {
      const { x, y } = button.getBoundingClientRect();
      const xPos = e.clientX - x;
      const yPos = e.clientY - y;
      button.querySelector("input").style.maskImage =
        `radial-gradient(30% 30px at ${xPos}px ${yPos}px, black 45%, transparent)`;
      button.querySelector("div").style.background =
        `radial-gradient(600px circle at ${xPos}px ${yPos}px, rgba(97, 97, 97, 0.1), transparent 60%)`;
    });
    button.addEventListener("mouseenter", (e) => {
      button.querySelector("input").style.opacity = 1;
      button.querySelector("div").style.opacity = 1;
    });
    button.addEventListener("mouseleave", (e) => {
      button.querySelector("input").style.opacity = 0;
      button.querySelector("div").style.opacity = 0;
    });
  }

  function setupListeners() {
    if (mediaQuery.matches) {
      buttons.forEach(handleMouseEvents);
    }
  }

  mediaQuery.addEventListener("change", setupListeners);
  setupListeners();
</script>
